.weather-card{
  max-width: 500px;
  /* border: solid #000; */
  border-radius: 15px;
  font-size: 20px;
  white-space: nowrap;
  background-color: #082f49;
  padding: 5px;
}
p{
  color: #d4bfbf;
}

.text-adj {
  font-size: calc(16px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

img {
  max-width: 150px;
  width: 100%;
}
