.weather-card{
  max-width: 500px;
  /* border: solid #000; */
  border-radius: 15px;
  font-size: 20px;
  white-space: nowrap;
  background-color: #0c3b5b;
  padding: 5px;
}
p{
  color: #d4bfbf;
}

.text-adj {
  font-size: calc(16px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.img-main {
  max-width: 150px;
  width: 100%;
}

.img-forecast {
  max-width: 30px;
  width: 100%;
}

.futher-days{
  /* border-bottom:solid 1px rgb(166, 166, 166); */
  background-color: #0d4469;
  margin: 5px 5px 5px 0px;
  padding: 2px;
  padding-left: 10px;
  border-radius: 15px;
  box-shadow:  1px 1px 5px gray;
}

.forecastDay{
  display: inline-block;
  border: solid 1px rgb(146, 144, 144) ;
  padding: 10px;
  background-color: #0c3b5b;
  width: 150px;
  margin-left: 5px;
}

/* .collapsing-item {
  background-color: #082f49;
} */